<footer>
  <small>
    Site based on a template by <a href="{{ pkg.repository.url }}">Dan Urbanowicz</a>.
      <br>
    Last Build: {{ build.date }} with {{ eleventy.generator }}
    <br>
  </small>
</footer>
