<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      {# Check if nav_exclude is NOT true #}
      {% if not entry.nav_exclude %}
        <li>
          <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="active"{% endif %}>
            {{ entry.title }}
          </a>
        </li>
      {% endif %}
    {%- endfor %}
  </ul>
</nav>