{% if postsList.length >= 1 %}
	<p>{{ postsList.length }} {{ "post" | pluralize(postsList.length) }}</p>
{% endif %}

<section>

	{% for post in postsList | reverse %}

		<article>

			<a href="{{ post.url | url }}">

							<h3>{{ post.data.title }}</h3>
				
			</a>
			
			<time datetime="{{ post.date | machineDate }}">
				<small>{{ post.date | readableDate }}</small>
			</time>

		</article>
	{% endfor %}
</section>
