---
layout: layouts/base.njk
section: home
permalink: /
---
<h1>Hello!</h1>
<section class="hero">
  <div class="hero-copy">
    <div class="hero-text">
      {{ layoutContent | safe }}
    </div>
    <img src="/assets/img/g.jpg" alt="Headshot of Graham" class="hero-headshot" />
  </div>
</section>