---
layout: layouts/base.njk
section: home
permalink: /
---
<section class="hero">
  <img
    src="/assets/img/g.jpg"
    alt="Headshot of Graham"
    class="hero-headshot"
  />

  <div class="hero-copy">
    <h1>Hello!</h1>
    {{ layoutContent | safe }}
  </div>
</section>